# ビルド成果物
target/
build/
out/
*.class

# パッケージファイル（Maven/Gradle が生成）
*.jar
*.war
*.ear

# ログや一時ファイル
*.log
*.tmp
*.ctxt
hs_err_pid*
replay_pid*

# IDE / エディタ
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS依存ファイル
.DS_Store
Thumbs.db
